body {
  background-color: #4A86E8;
}

.container {
  height: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.logo {
  width: 300px;
}
